.logo {
  width: 170px;
  margin-top: 50px;
}

.intro {
  font-size: 13px;
  color: #9f9f9f;
  margin-top: 15px;
}

.signupContainer {
  margin-top: 30px;
  width: 280px;
  height: 270px;
}

.signupContainer > * {
  width: 100%;
  height: 30px;
  font-size: 13px;
  margin-bottom: 10px;
}

.guide {
  font-size: 14px;
}

.guideLink {
  color: #706f6f;
}
